extends layout

block layout-content
  script(type="text/javascript").
    function dateString(d) {
        let hours = d.getHours().toString().padStart(2, '0');
        let minutes = d.getMinutes().toString().padStart(2, '0');
        let seconds = d.getSeconds().toString().padStart(2, '0');
        return `${hours}:${minutes}:${seconds}`;
    }
    window.onload = async function() {
      (async function setTemp() {
        var response = await fetch(`http://${window.location.hostname}:4526/getentity?entity=sensor.netatmo_rr_netatmo1_indoor_netatmo1o1_temperature`);
        const temp = await response.json();
        document.getElementById('temp').textContent = `Backyard temperature: ${temp.message}°F`;
        setTimeout(setTemp, 5 * 60 * 1000);
      })();
      (async function setSunTimes() {
        var response;
        response = await fetch(`http://${window.location.hostname}:4526/getentity?entity=var.sunrise`);
        const sunrise = await response.json();
        response = await fetch(`http://${window.location.hostname}:4526/getentity?entity=var.sunset`);
        const sunset = await response.json();
        var dayBox = document.getElementById('daybox');
        dayBox.textContent = `Sunrise: ${dateString(new Date(sunrise.message))} Sunset: ${dateString(new Date(sunset.message))}`;
        setTimeout(setSunTimes, 6 * 60 * 60 * 1000);
      })();
      (async function setTime() {
        var timeBox = document.getElementById('timebox');
        timeBox.textContent = dateString(new Date());
        setTimeout(setTime, 1000);
      })();
    }
  
  div(class='left column')
  div(class='View column')
    h1.Banner | RadRealm |
    div.Message
      div.Intro
        p.Middle 
        | A list of useful local 
        | websites.
    div.NavButtons
      ol.Sites
        li
          a(href="http://rr-hass.lan:8123")
            div.NavButton Home Assistant
        li
          a(href="http://rr-hass.lan")
            div.NavButton Phoscon-GW 
        li
          a(href="http://rr-synol1.lan:5000")
            div.NavButton Synology
        li
          a(href="http://rr-hass.lan:8091")
            div.NavButton ZWaveJS2MQTT
        li 
          a(href="http://rr-hass.lan:8080")
            div.NavButton Zigbee2MQTT
        li 
          a(href="http://rr-frigate.lan:2400")
            div.NavButton Plex
        li 
          a(href="http://rr-hyperion1.lan:8090")
            div.NavButton Living Room Ambient TV
        li 
          a(href="http://rr-frigate.lan:8086")
            div.NavButton Influxdb Main 
        li 
          a(href="http://rr-frigate.lan:3000")
            div.NavButton Grafana
        li 
          a(href="/files/radrealm.pem")
            div.NavButton Get Local CA
        li 
          a(href="/files/mitmproxy.pem")
            div.NavButton Get mitmproxy CA
        //- li
        //-   a(href="zwavemap")
        //-     div.NavButton ZWave Map
        li
          a(href="routerredir")
            div.NavButton WiFi Router
        //- li 
        //-   a#time_is_link         
        //-     span#Carnation_z14e
    div#timebox.time
      //- | The Time
    div#daybox.time 
      //- | Sunrise: ? Sunset: ?
    div#temp.time

//- <a href="https://time.is/Carnation" id="time_is_link" rel="nofollow" style="font-size:15px">Time in Carnation:</a>
//- <span id="Carnation_z14e" style="font-size:15px"></span>
//- <script src="//widget.time.is/en.js"></script>
//- <script>
//- time_is_widget.init({Carnation_z14e:{template:"TIME<br>DATE<br>SUN", date_format:"dayname, monthname dnum, year", sun_format:"Sunrise: srhour:srminute Sunset: sshour:ssminute<br>Day length: dlhoursh dlminutesm", coords:"47.6478800,-121.9140100"}});
//- </script>
