extends layout

block layout-content
  script(type="text/javascript").
    function dateString(d) {
        let hours = d.getHours().toString().padStart(2, '0');
        let minutes = d.getMinutes().toString().padStart(2, '0');
        let seconds = d.getSeconds().toString().padStart(2, '0');
        return `${hours}:${minutes}:${seconds}`;
    }
    window.onload = async function() {
      (async function setTemp() {
        var response = await fetch(`${window.location.origin}/getentity?entity=sensor.netatmo_rr_netatmo1_indoor_netatmo1o1_temperature`);
        const temp = await response.json();
        document.getElementById('temp').textContent = `Backyard temperature: ${temp.message}°F`;
        setTimeout(setTemp, 5 * 60 * 1000);
      })();
      (async function setSunTimes() {
        var response;
        response = await fetch(`${window.location.origin}/getentity?entity=var.sunrise`);
        const sunrise = await response.json();
        response = await fetch(`${window.location.origin}/getentity?entity=var.sunset`);
        const sunset = await response.json();
        var dayBox = document.getElementById('daybox');
        dayBox.textContent = `Sunrise: ${dateString(new Date(sunrise.message))} Sunset: ${dateString(new Date(sunset.message))}`;
        setTimeout(setSunTimes, 6 * 60 * 60 * 1000);
      })();
      (async function setTime() {
        var timeBox = document.getElementById('timebox');
        timeBox.textContent = dateString(new Date());
        setTimeout(setTime, 1000);
      })();
    }
  
  div(class='left column')
  div(class='View column')
    h1.Banner | RadRealm |
    div.Message
      div.Intro
        p.Middle 
        | A list of useful local 
        | websites.
    div.NavButtons
      ol.Sites
    div#timebox.time
      //- | The Time
    div#daybox.time 
      //- | Sunrise: ? Sunset: ?
    div#temp.time
